@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.navbar {
  padding-left: 60px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr 2fr;
  height: 145px;
  column-gap: 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.header {
  padding: 20px 60px;
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  background-color: #495e57;
  column-gap: 20px;
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  color: #f4ce14;
  font-size: 56px;
  margin: 0;
}

.markazi-text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-subtitle {
  color: white;
  margin: 10px 0px;
  font-size: 32px;
}

.header-description {
  color: white;
  font-size: 20px;
}

.yellow-button {
  background-color: #f4ce14;
  width: 200px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.header-image-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-image {
  max-width: 350px;
  max-height: 390px;
  border-radius: 20px;
  z-index: 10;
  transform: translateY(60px);
}

.card {
  max-width: 265px;
  max-height: 440px;
  border: 1px solid #edefee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
}

.card-price {
  font-size: 16px;
  font-weight: 700;
  color: #ee9972;
}

.card-description {
  font-weight: 400;
  color: #495e57;
}

.card-delivery-text {
  font-weight: 700;
}

.card-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.specials {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  column-gap: 20px;
  padding: 60px;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-title {
  font-size: 32px;
}

.specials-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
