@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.navbar {
  padding-left: 60px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr 2fr;
  height: 145px;
  column-gap: 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.header {
  padding: 20px 60px;
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  background-color: #495e57;
  column-gap: 20px;
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  color: #f4ce14;
  font-size: 56px;
  margin: 0;
}

.markazi-text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-subtitle {
  color: white;
  margin: 10px 0px;
  font-size: 32px;
}

.header-description {
  color: white;
  font-size: 20px;
}

.yellow-button {
  background-color: #f4ce14;
  width: 200px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.yellow-button:hover {
  background-color: black;
  color: #f4ce14;
  transition: 0.2s ease-in;
}

.header-image-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-image {
  max-width: 350px;
  max-height: 390px;
  border-radius: 20px;
  z-index: 10;
  transform: translateY(60px);
  object-fit: cover;
}

.specials-card {
  max-width: 265px;
  max-height: 440px;
  border: 1px solid #edefee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
}

.specials-card-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.specials-card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-card-title {
  font-size: 24px;
  font-weight: 500;
}

.specials-card-price {
  font-size: 16px;
  font-weight: 700;
  color: #ee9972;
}

.specials-card-description {
  font-weight: 400;
  color: #495e57;
}

.specials-card-delivery-text {
  font-weight: 700;
}

.specials-card-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.specials {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  column-gap: 20px;
  padding: 60px;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-title {
  font-size: 32px;
}

.specials-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.testimonials {
  background-color: #495e57;
  padding: 60px;
  height: 400px;
}

.testimonials-title {
  text-align: center;
  color: #f4ce14;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 60px;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 20px;
}

.testimonials-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.testimonials-card-rate {
  font-weight: 700;
}

.testimonials-card-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.testimonials-card-profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f4ce14;
}

.testimonials-card-profile-name {
  font-size: 14px;
  font-weight: 700;
}

.testimonials-card-comment {
  font-size: 400;
  font-size: 14px;
}

.chicago {
  display: grid;
  padding: 60px 60px;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  column-gap: 20px;
  max-height: 555px;
}

.chicago-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}

.chicago-title {
  margin: 0;
  font-weight: 500;
  font-size: 64px;
  color: #f4ce14;
}

.chicago-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}

.chicago-description {
  margin-top: 60px;
  font-weight: 700;
  font-size: 20px;
}

.chicago-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chicago-image1 {
  max-width: 265px;
  height: 320px;
  object-fit: cover;
  transform: translate(60px, 60px);
  z-index: 10;
}

.chicago-image2 {
  max-width: 265px;
  height: 320px;
  object-fit: cover;
  transform: translate(-20px, -20px);
}

.footer {
  height: 450px;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 20px;
  padding: 60px;
  background-color: #495e57;
}

.footer-image {
  width: 100%;
  object-fit: cover;
  object-position: 25% 25%;
  margin: auto 0px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 200px;
  margin: auto 0px;
}

.footer-title {
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  color: #f4ce14;
}

.footer-links {
  padding: 0px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
